<button (click)="openCreate()" hidden id="openModal" data-toggle="modal" data-target="#modalUser"></button>
<div>
  <div class="container">
    <div class="data-info">
      <div>
        <img class="image" [src]="user.image" alt="perfil-image">
      </div>
      <div class="data-label">
        <label class="title">{{ user.name }}</label>
        <label class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i>{{ user.email }}</label>
        <span>Added on 07/02/2015 08:56PM</span>
      </div>
    </div>
    <div class="configuration">
      <button type="button" class="btn btn-primary p-1 m-1" (click)="updateUser()" data-toggle="modal"
        data-target="#modalUser"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-danger p-1 m-1" (click)="removeUser(user.id)"><i class="fa fa-trash-o"
          aria-hidden="true"></i></button>
    </div>
  </div>
</div>
