<div>
  <div class="container">
    <div class="data-info">
      <div>
        <img class="image" src="../../../../assets/images/Imagem-Perfil.jpg" alt="perfil-image">
      </div>
      <div class="data-label">
        <label class="title">Luiz Henrique</label>
        <label class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i>luizhenrique@email.com</label>
        <span>Added on 07/02/2015 08:56PM</span>
      </div>
    </div>
    <div class="configuration">
      <button type="button" class="btn btn-primary p-1 m-1"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-danger p-1 m-1"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
