<main class="d-flex align-center justify-content-center flex-column">
  <!-- <header>-->
    <div class="col-3">
      <button type="button" class="btn btn-primary" (click)="openModal()">Save</button>
    </div>
 <!--  </header> -->
  <div class="p-12 col-md-9">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">User Details</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of user">
          <app-table-row (create)="creteUser($event)" (update)="updateUser($event)" (delete)="removeUser($event)"
            [setclose]="closeModal" [user]="user"></app-table-row>
        </tr>


      </tbody>
    </table>
  </div>
</main>
